.numbers-tile {
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 5px;
    background-color: map-get($colors, 'primary');

    @include from(laptopL) {
        padding: 40px;
    }

    &__number-wrapper {
        @extend %h2;
        text-align: center;
        margin-bottom: 2rem;
    }
    &__title {
        color: map-get($colors, 'secondary');
        margin-bottom: 2rem;
        text-align: center;
        @extend %h5;
    }
    &__desc {
        text-align: center;
        @include from(laptop) {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
        @include from(desktop) {
            font-size: 1.6rem;
            line-height: 2.8rem;
        }
    }
}
