.acf-map {
    width: 100%;
    height: 400px;
    margin: 20px 0;

    @include from(laptop) {
        height: 550px;
    }
    @include from(desktop) {
        height: 650px;
    }
}

// Fixes potential theme css conflict.
.acf-map img {
    max-width: inherit !important;
}
