/*
*
* Styles only for hero page block
*
*/

.hero {
    position: relative;
    padding: 16rem 0 7rem;
    min-height: 100vh;
    background: {
        image: url($img-path + "");
        size: cover;
        position: center center;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.61;
    }

    &__inner {
        position: relative;
        z-index: 2;
    }
    &__second-line {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 2rem;
        @include from(phoneL) {
            gap: 1rem 2rem;
            justify-content: flex-start;
            margin-top: 3rem;
        }
        @include from(tablet) {
            gap: 2rem;
            margin-top: 5rem;
        }
    }
    .breadcrumbs {
        @include to(phoneL) {
            text-align: center;
        }
        @include from(phoneL) {
            margin-bottom: 2.5rem;
        }
    }
    .title {
        color: map-get($colors, 'light');
        &:before {
            border-color: map-get($colors, 'light');
        }
        @include to(phoneL) {
            text-align: center;
        }
    }
    .subtitle {
        display: block;
        color: map-get($colors, 'light');
        font: {
            size: 1.5rem;
        }
        line-height: 2.5rem;
        @include to(phoneL) {
            text-align: center;
        }
        @include from(phoneL) {
            font: {
                size: 2rem;
            }
            letter-spacing: 0.025em;
            line-height: 3rem;
        }
        @include from(tablet) {
            font: {
                size: 3rem;
            }
            letter-spacing: 0.05em;
            line-height: 4rem;
        }
    }
}
