/*
*
* Styles with repeating, rather short, reusable custom classes (only to this particular theme)
* Try think 3 times, before you add something here - maybe better idea is add code in separate file
*/

@each $name, $color in $colors {
    .color--#{$name} {
        color: $color;
    }
    .bg--#{$name} {
        background-color: $color;
    }
    .border--#{$name} {
        border: 1px solid $color;
    }
}

.section.home-page-hero {
    position: relative;
    max-height: 700px;
    margin-top: 40px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
    @include from(phoneM) {
        background-position: right;
    }
    @include from(laptop) {
        margin-top: 100px;
        min-height: calc(100vh - 160px);
    }
}

.home-page-hero + figure {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: -20px;
    @include from(tablet) {
        margin-top: -40px;
    }
    @include from(desktopL) {
        margin-top: -60px;
    }
    img {
        width: 100%;
    }
}

.spark {
    background-color: #bfa766;
    visibility: hidden;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 30%;
    box-shadow: 0 0 5px #e14802;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 1rem;
    p {
        margin: 0;
    }
}

.bigger-text {
    p,
    a {
        @extend %h3;
        font-weight: 500;
        text-decoration: none;
    }
}
