/*
*
* Styles only for typography - text, headers buttons etc.
* Extended by styles from extend-rules.scss
! don't edit.
*
*/

html {
    font-size: $font-size;
}

h1, .h1 {
    @extend %h1;
}
h2, .h2 {
    @extend %h2;
}
h3, .h3 {
    @extend %h3;
}
h4, .h4 {
    @extend %h4;
}
h5, .h5 {
    @extend %h5;
}
h6, .h6 {
    @extend %h6;
}
body {
    font-family: $font-text;
    font-size: $font-size;
    color: $font-color;
}
p, a , td, th {
    @extend %text;
}